*
!AGENTS.md
!README.md
!pre-early-init.el
!early-init.el
!init.el
!post-init.el
!prek.toml
!mise.lock
!mise.toml
!scripts/
scripts/*
!scripts/uvr-r
!scripts/check-elisp.el
!scripts/reopen-emacs-frame
!lisp/
lisp/*
!lisp/*/
lisp/*/*
!lisp/*/*.el
!lisp/*/README.md
!bin/
!bin/update-upstream-main
!bin/install-emacs-daemon
!.github/
!.LICENSE
